* {
    padding: 0;
    margin: 0;
}

.cabecalhoPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalhoPrincipal-nav {
    display: flex;
    margin-left: 2%;
}

.rodapePrincipal-patrocinadores .container{
    display: flex;
    justify-content:space-between;
}

.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-around;
}

.rodapePrincipal-contatoForm {
    width: 25%;
}

.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height:15.625em;
}

.conteudoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.conteudoPrincipal-cursos-link {
    width: 23%;
}

